* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
}

header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(https://st.depositphotos.com/1027431/2464/v/600/https://c4.wallpaperflare.com/wallpaper/640/342/527/abstract-cube-wallpaper-preview.jpgdepositphotos_24645849-stock-illustration-abstract-blue-background.jpg);
  background-size: cover;
  background-position: center;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.info-list {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: lightsteelblue;
  color: #2a607c;
}

.info-list img {
  max-height: 200px;
}

.info-list h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

aside {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: lightsteelblue;
}

.benefit-type {
  margin-bottom: 32px;
  color: #2a607c;
}

.benefit-type h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-type img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
