* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  padding: 30px;
  font-family: "Josefin Sans", sans-serif;
  background-color: #44624a;
  color: #f7f9f9;
  width: 100%;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

header nav {
  padding-top: 15px;
  margin-right: 30px;
  float: right;
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #f7f9f9;
  text-decoration: none;
}

nav ul li:hover {
  text-shadow: 3px 3px 5px #8ba888;
  transition-delay: 0.2s;
}

.info-list:hover {
  box-shadow: 0 0 20px #f1ebe1;
  transition-delay: 0.2;
}

.hero {
  height: 500px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
}
body {
  background-color: #f1ebe1;
}

p {
  font-size: 18px;
}

#resume {
  font-size: 25px;
}

.content {
  width: 100%;
  display: inline-block;
  margin-left: 20px;
}

.info-list {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Josefin Sans", sans-serif;
  background-color: #8ba888;
  color: #41463c;
}

.info-list img {
  max-height: 200px;
  margin: 20px;
}

.info-list h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.web-apps {
  float: left;
  margin-left: 25px;
}

.web-apps:hover {
  color: #111;
  background: #f7f9f9;
  box-shadow: 0 0 20px #f7f9f9;
}
